@import "./modules/init.less";
@import "./modules/icons.less";

@color-header: #0349b3;
@color-accent: #00CECB;
@color-accent-darker: #00adab;
@color-main: #fff;
@color-footer: #36213E;
@color-notification: #C6C7C4;


@height-header: 240px;
@height-slim-header: 60px;
@height-menu: 60px;
@height-footer: 30px;

@width-searchBar: 420px;
@height-searchBar: 50px; 


//Profile menu animations and sizes
@height-profileMenu: 200px;
@width-profileMenu: 180px;

body {
  font-family: 'Lato', sans-serif;
  background: @color-main;
  height: 100vh;

  div.errorBlock {
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #0000008e;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;

    div.errorMsg {
      display: flex;
      flex-flow: column nowrap;
      background: @color-notification;
      width: 250px;
      min-height: 150px;
      border-radius: 5px;

      span.title {
        display: block;
        padding: 5px 15px;
        width: 100%;
        box-sizing: border-box;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: @color-font;
        background: @color-header;
        text-align: center;
        font-size: 20px;
      }

      span.desc {
        display: block;
        padding: 5px 15px;
        width: 100%;
        box-sizing: border-box;
      }

      button {
        width: 50px;
        height: 30px;
        margin: auto 100px;
        align-self: flex-end;
        justify-self: flex-end;
        cursor: pointer;
      }
    }
  }

  div.mainGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: @height-header auto @height-footer;


    &.slim {
      grid-template-rows: @height-slim-header auto @height-footer;
      
      div.secondBlock {
        box-sizing: border-box;
        background: @color-header;
        height: inherit;


        div.searchBox {
          display: flex;
          align-items: center;
          height: @height-slim-header;
          margin: 0px;

          & > input {
            height: @height-searchBar - 10px;
            border: none;
            padding: 3px 8px;
            font-size: 20px;
            z-index: 16;
          }

          & > span {
            z-index: 16;
            font-size: 10px;
          }
        }
      }
    }

    header {
      background: linear-gradient(#00000028, #000000af), url('../img/background.jpg') center bottom no-repeat, @color-header;
      background-size: cover;
      background-attachment: fixed;
      box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
      z-index: 5;

      nav {
        position: fixed;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: @height-menu;

        div.profileBlock {
          box-sizing: border-box;
          position: absolute;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          align-content: center;
          border-radius: 5px;
          border-top-right-radius: 24px;
          width: @width-profileMenu;
          min-height: @height-profileMenu;
          box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
          background: #ffffffd3;
          top: 10px;
          right: -400px + 15px;
          padding: 10px;
          z-index: 10;
          overflow: hidden;

          span.title {
            .noselect();

            box-sizing: border-box;
            display: block;
            width: 100%;
            font-size: 20px;
            text-align: center;
            margin-top: 5px;
            word-wrap: break-word;
            font-family: 'Lato';
          }

          span.username {
            .noselect();

            position: relative;
            top: -3px;
            display: block;
            width: 100%;
            color: #222222;
            font-size: 14px;
            text-align: center;
          }

          div.avatar {
            background: white;
            width: 130px;
            height: 130px;
            margin-top: 12px;
            border-radius: 5px;
            overflow: hidden;

            img {
              height: 100%;
              width: 100%;
            }
          }   

          div.bottomNav {
            box-sizing: border-box;
            margin-top: 15px;
            padding: 0 10px;
            width: 110%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            a {
              .noselect();

              display: block;
              padding: 4px 5px;

              &.logoutButton {
                background: @color-accent-darker;
                padding: 4px 5px;
                border-radius: 5px;
                
                span {
                  color: #ffffff;
                  
                }
              }
            }
          }
        } 

        div.uploadBlock {
          position: absolute;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          border-top-left-radius: 24px;
          width: 220px;
          height: 180px;
          background: #ffffffd3;
          box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
          top: -400px + 8px;
          left: 15px;

         .noselect();

          .icon {
            font-size: 50px;
          }
          span {
            font-size: 20px;
          }
        }

        ul {
          list-style-type: none;
          display: flex;
          flex-flow: row nowrap;
          height: @height-menu - 20px;
          font-size: 20px;
          margin: 0 10px;
          
          li {
            text-align: center;
            position: relative;
            
            span {
              display: block;
              background: linear-gradient(to bottom, #0000008f, #00000000);
              line-height: @height-menu - 20px;
              width: @height-menu - 20px;
              transition: 0.2s;
              background: white;
              border-radius: 90px;
              margin: 0 5px;
              cursor: pointer;
              z-index: 15;

              &.profileButton {
                z-index: 99;
                position: absolute;
                right: 0px;
              }

              &.uploadButton {
                position: absolute;
                left: 0px;
              }
            }
          }
        }
      }
      
      div.secondBlock {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        // align-items: flex-start;
        height: @height-header;

        div.searchBox {
          display: flex;
          justify-content: flex-start;
          min-width: 120px;
          height: @height-searchBar;
          margin-top: 5px;
          margin-bottom: 40px;

          & > input {
            border: none;
            padding: 5px 10px;
            font-size: 20px;
            border-radius: 5px;
            margin-right: 10px;
            width: @width-searchBar;
            color: #131313;
          }

          & > span.search {
            display: block;
            width: @height-searchBar;
            height: @height-searchBar;
            line-height: @height-searchBar;
            font-size: 25px;
            text-align: center;
            cursor: pointer;
            border-radius: 90px;
            background: #fff;

          }
        }
      }

    }
  
    main {
      display: flex;
      flex-flow: row nowrap;
      box-sizing: border-box;
      background: @color-main;
      padding: 15px;
      display: flex;
      justify-content: center;
      width: initial;


      div.wrapperBrowser {
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);

        @media screen and (max-width: 750px) {
          grid-template-columns: 1fr;
        }
        @media screen and (min-width: 750px) and (max-width: 900px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 750px) and (max-width: 1000px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 1000px) and (max-width: 1400px) {
          grid-template-columns: repeat(3, 1fr);
        }

        div.video-block {
          box-sizing: border-box;
          padding: 5px;
          width: 100%;
          height: 100%;
          margin: 5px;

          a {
            position: relative;

            img.thumbnail {
              width: 100%;
              height: 280px;
              border-radius: 10px;
              overflow: hidden;
              -webkit-box-shadow: 2px 2px 15px -8px rgba(0,0,0,0.75);
              -moz-box-shadow: 2px 2px 15px -8px rgba(0,0,0,0.75);
              box-shadow: 2px 2px 15px -8px rgba(0,0,0,0.75);
            }

            span.duration {
              position: absolute;
              background: #00000091;
              border-radius: 5px;
              padding: 2px 5px;
              color: #fff;
              bottom: 25px;
              right: 25px
            }

            span.title {
              overflow: hidden;
              height: 30px;
              box-sizing: border-box;
              display: block;
              padding: 0 10px;
              font-size: 24px;
              overflow: hidden;
            }
          }


          div.info {
            font-size: 15px;
            color: #3f3f3f;

            span.author {
              box-sizing: border-box;
              padding: 0 10px;
            }
          }
        }

      }


    }
  
    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      background : @color-footer;

      .noselect();

      span {
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}