@import "./modules/init.less";
@import "./modules/icons.less";

@color-header: #0349b3;
@color-accent: #00CECB;
@color-accent-darker: #00adab;
@color-main: #fff;
@color-footer: #36213E;
@color-notification: #C6C7C4;


@height-header: 240px;
@height-slim-header: 60px;
@height-menu: 60px;
@height-footer: 30px;

@width-searchBar: 420px;
@height-searchBar: 50px; 


//Profile menu animations and sizes
@height-profileMenu: 200px;
@width-profileMenu: 180px;

body {
  font-family: 'Lato', sans-serif;
  background: @color-main;
  height: 100vh;

  div.comment-block {
  display: flex;
  justify-content: flex-start;
  width: 800px;
  min-height: 60px;
  padding: 5px;
  position: relative;

  &.slim {
    width: 400px;

    div {

      div {
        width: 400px;
      }
    }

    span.trash {
      display: none;
      position: absolute;
      color: #444;
      right: 10px;
      top: 30px;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: #e64708;
      }
    }
  }

  span.trash {
    display: block;
    position: absolute;
    color: #444;
    right: 10px;
    top: 30px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: #e64708;
    }
  }

  img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 5px;
  }

  div {
    display: flex;
    flex-flow: column nowrap;

    div {
      width: 740px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      border-bottom: 1px solid #4d4d4d77;

      span.username {
        text-align: left;

        i {
          font-style: normal;
          font-size: 14px;
          color: #505050;
        }
      }
      span.post-date {
        font-size: 15px;
        color:  #505050;
      }
    }
    

    span.content {
      text-align: left;
      font-size: 15px;

    }
  }
}
  
  div.errorBlock {
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #0000008e;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;

    div.errorMsg {
      display: flex;
      flex-flow: column nowrap;
      background: @color-notification;
      width: 250px;
      min-height: 150px;
      border-radius: 5px;

      span.title {
        display: block;
        padding: 5px 15px;
        width: 100%;
        box-sizing: border-box;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #EEE;
        background: @color-header;
        text-align: center;
        font-size: 20px;
      }

      span.desc {
        display: block;
        padding: 5px 15px;
        width: 100%;
        box-sizing: border-box;
      }

      button {
        width: 50px;
        height: 30px;
        margin: auto 100px;
        align-self: flex-end;
        justify-self: flex-end;
        cursor: pointer;
      }
    }
  }

  div.mainGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: @height-header auto @height-footer;


    &.slim {
      grid-template-rows: @height-slim-header auto @height-footer;
      
      div.secondBlock {
        position: fixed;
        left: 0; right: 0;
        box-sizing: border-box;
        background: @color-header;
        height: inherit;
        z-index: 10;


        div.searchBox {
          display: flex;
          align-items: center;
          height: @height-slim-header;
          margin: 0px;
          z-index: 99;

          & > input {
            height: @height-searchBar - 10px;
            border: none;
            padding: 3px 8px;
            font-size: 20px;
            z-index: 16;
          }

          & > span {
            z-index: 16;
            font-size: 10px;
          }
        }
      }
    }

    header {
      background: linear-gradient(#00000028, #000000af), url('../img/background.jpg') center bottom no-repeat, @color-header;
      background-size: cover;
      background-attachment: fixed;
      box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
      z-index: 5;

      nav {
        position: fixed;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: @height-menu;
        z-index: 15;

        div.profileBlock {
          box-sizing: border-box;
          position: absolute;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          align-content: center;
          border-radius: 5px;
          border-top-right-radius: 24px;
          width: @width-profileMenu;
          min-height: @height-profileMenu;
          box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
          background: #ffffffd3;
          top: 10px;
          right: -400px + 15px;
          padding: 10px;
          z-index: 10;
          overflow: hidden;

          span.title {
            .noselect();

            box-sizing: border-box;
            display: block;
            width: 100%;
            font-size: 20px;
            text-align: center;
            margin-top: 5px;
            word-wrap: break-word;
            font-family: 'Lato';
          }

          span.username {
            .noselect();

            position: relative;
            top: -3px;
            display: block;
            width: 100%;
            color: #222222;
            font-size: 14px;
            text-align: center;
          }

          div.avatar {
            background: white;
            border: #AAA 1px solid;
            width: 130px;
            height: 130px;
            margin-top: 12px;
            border-radius: 5px;
            overflow: hidden;

            img {
              height: 100%;
              width: 100%;
            }
          }   

          div.bottomNav {
            box-sizing: border-box;
            margin-top: 15px;
            padding: 0 10px;
            width: 110%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;

            a {
              .noselect();

              display: block;
              padding: 4px 5px;

              &.logoutButton {
                background: @color-accent-darker;
                padding: 4px 5px;
                border-radius: 5px;
                
                span {
                  color: #ffffff;
                  
                }
              }

              &.uploadsButton {
                .noselect();

                background: #04598a;
                border-radius: 5px;

                span {
                  color: white;
                }
              }
            }
          }
        } 

        div.uploadBlock {
          position: absolute;
          border-radius: 5px;
          border-top-left-radius: 24px;
          width: 220px;
          height: 180px;
          background: #ffffffd3;
          box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.75);
          top: -400px + 8px;
          left: 15px;
          overflow: hidden;

         .noselect();

          .dropdown {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: #666666;
            font-size: 80px;

            &.highlight {
              color: #181818;
            }
            
            form.uploadFallback {
              display: none;
              width: 100%;
              height: 100%;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              align-items: center;

              & > input {
                margin: 5px;
              }
            }

          }
        }

        ul {
          list-style-type: none;
          display: flex;
          flex-flow: row nowrap;
          height: @height-menu - 20px;
          font-size: 20px;
          margin: 0 10px;
          
          li {
            text-align: center;
            position: relative;
            
            span, a {
              display: block;
              background: linear-gradient(to bottom, #0000008f, #00000000);
              line-height: @height-menu - 20px;
              width: @height-menu - 20px;
              transition: 0.2s;
              background: white;
              border-radius: 90px;
              margin: 0 5px;
              cursor: pointer;
              z-index: 15;

              &.profileButton {
                z-index: 99;
                position: absolute;
                right: 0px;
              }

              &.uploadButton {
                position: absolute;
                left: 0px;
              }

              &.homeButton {
                position: absolute;
                left: 50px;
                z-index: 0;
              }
            }
          }
        }
      }
      
      div.secondBlock {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        // align-items: flex-start;
        height: @height-header;

        div.searchBox {
          display: flex;
          justify-content: flex-start;
          min-width: 120px;
          height: @height-searchBar;
          margin-top: 5px;
          margin-bottom: 40px;
          z-index: 25;

          & > input {
            border: none;
            padding: 5px 10px;
            font-size: 20px;
            border-radius: 5px;
            margin-right: 10px;
            width: @width-searchBar;
            color: #131313;
          }

          & > span.search {
            display: block;
            width: @height-searchBar;
            height: @height-searchBar;
            line-height: @height-searchBar;
            font-size: 25px;
            text-align: center;
            cursor: pointer;
            border-radius: 90px;
            background: #fff;

          }
        }
      }

    }
  
    main {
      display: flex;
      flex-flow: row nowrap;
      box-sizing: border-box;
      background: @color-main;
      padding: 15px;
      display: flex;
      justify-content: center;
      width: initial;

      div.blackScreen {
        // display: flex;
        display: none;
        justify-content: center;
        align-items: center;
        background: #00000086;
        position: fixed;
        z-index: 99;
        top: 0; left: 0; right: 0; bottom: 0;

        & > div.popup {
          background: white;
          min-height: 150px;
          min-width: 480px;
          border-radius: 5px;
          padding: 5px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;

          div {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;

            & > span.notify {
              width: 100%;
              font-size: 20px;
            }

            input[type='text'] {
              padding: 5px;
              min-width: 20px;
              text-align: center;
            }

            &.heading-block {
              border-bottom: 1px solid rgba(85, 85, 85, 0.514);
              margin-bottom: 15px;
            }
          }

          div.buttonsBlock {
            display: flex;
            justify-content: center;
            margin-top: 25px;

            button {
              padding: 10px 15px;
              cursor: pointer;
              margin: 0 10px;
              border-radius: 3px;
              border: none;
              font-size: 20px;
            }

            button.confirmVideoDelete, button.confirmCommentDelete{
              background: @color-accent-darker;
              color: white;

              &:hover {
                background: @color-accent;
              }
            }

            button.cancel {
              background: #9b9b9b;
              color: white;

              &:hover {
                background: #a3a3a3;
              }
            }
          }
        }
      }

      a.backButton {
        position: fixed;
        font-size: 40px;
        background: @color-accent-darker;
        border-radius: 90px;
        top: 80px;
        left: 20px;
        z-index: 2;
        -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
        
        span {
          color: white;
          padding: 4px 8px 4px 5px;

        }
      }

      div.deletion-block {
        .noselect();
        box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
        position: fixed;
        background: #04598a;
        z-index: 10;
        right: 15px; top: 80px;
        padding: 2px 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          background: @color-accent-darker;
        }

        span {
          font-size: 25px;
          color: #EEE;
        
          &.icon {
            padding-right: 10px;
          }
        }
      }

      div.videoWrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;

        div.videoContainer {
          position: relative;
          height: 450px;
          width: 800px;
          overflow: hidden;
          -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
          
          video {
            width: 100%;
            height: 100%;
          }

          div.bar {
            position: absolute;
            background: #000000d3;
            height: 60px;
            bottom: 0; left: 0; right: 0;
            z-index: 15;
            transform: translateY(80px);

            div.controls {
              padding-left: 15px;
              height: 50px;
              width: 100%;

              button {
                height: 50px;
                line-height: 50px;
                font-size: 40px;
                background: none;
                border: none;
                outline: none;
                color: #fff;
                cursor: pointer;
              }
            }

            div.progressBar {
              width: 100%;
              height: 10px;
              background: #3b3b3b;

              div.progress {
                height: 100%;
                background: #dd9103;
              }
            }
          }

          &:hover {
            div.bar {
              transform: translateY(0);
            }
          }
        }

        div.videoInformations {
          display: grid;
          grid-template-columns: 5fr 2fr;
          grid-template-rows: auto 40px  auto;
          width: 800px;
          margin-top: 15px;

          span.title {
            text-align: left;
            grid-column: ~"1/2";
            grid-row: ~"1/2";
            font-size: 25px;
          }

          span.uploadDate {
            grid-column: ~"1/2";
            grid-row: ~"2/3";
            padding-left: 10px;
          }

          span.views {
            text-align: right;
            grid-column: ~"2/3";
            font-size: 20px;

            i {
              font-style: normal;
              font-size: 18px;
            }
          }

          div.rating {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            grid-row: ~"2/3";
            grid-column: ~"2/3";


            span.value {
              font-size: 20px;
              padding: 0 15px;
              line-height: 20px;
              font-weight: 700;

              .noselect();

              &.liked {
                color: @color-accent;
              }

              &.unselected {
                color: inherit;
              }

              &.disliked {
                color: #d60176;
              }
            }

            span.icon {
              font-size: 16px;
              border-radius: 90px;
              padding: 5px 7px;
              cursor: pointer;
              transition: 0.2s;

              &.plus {
                
                &:hover, &.active {
                  color: @color-accent;
                }
              }

              &.minus {
                
                &:hover, &.active {
                  color: #d60176;
                }
              }
            }

          }

          div.desc {
            display: flex;
            flex-flow: column nowrap;
            box-sizing: border-box;
            width: 100%;
            grid-column: ~"1/3";
            grid-row: ~"3/4";
            padding: 10px;
            min-height: 150px;

            div.author {
              display: flex;
              flex-flow: row nowrap;
              height: 30px;
              margin-bottom: 5px;

              .image {
                height: 30px;
                width: 30px;
                overflow: hidden;
                border-radius: 90px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              span {
                font-size: 15px;
                line-height: 30px;
                margin-left: 5px;
              }
            }

            & > span {
              text-align: left;
            }

          }
        }

        div.commentSection {
          margin-top: 15px;
          // background: yellow;
          // margin-top: 15px;
          min-height: 120px;
          width: 800px;
          
          & > span {
            font-size: 20px;
          }

          span.nocomments {
            width: 100%;
          }
          
          div.personalComment {
            display: flex;
            align-items: center;
            height: 90px;
            margin: 5px 0 25px 0;
            // background: blue;


            div.avatar {
              box-sizing: border-box;
              padding: 5px;
              
              .noselect();
              
              img {
                width: 60px;
                height: 60px;
                border-radius: 5px;
              }
            }

            div.inputField {
              height: 100%;
              display: flex;
              flex-flow: column nowrap;

              div {
                position: relative;
                span.username {
                  width: 100%;
                  font-size: 16px;
                  height: 25px;
                  line-height: 25px;

                  i {
                    font-style: normal;
                    font-size: 14px;
                    color: #505050;
                  }
                }
                button {
                  position: absolute;
                  top: -3px;
                  width: 75px;
                  left: 405px;
                  cursor: pointer;
                  border: none;
                  background: @color-accent-darker;
                  color: #fff;
                  padding: 5px 10px;
                  border-radius: 4px;
                }
              }
            }

            textarea {
              resize: none;
              width: 480px;
              min-height: 60px;
            }
          }

          div.commentList {
            margin-top: 15px;
            text-align: center;
          }
        }
      }

      div.wrapperBrowser {
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);

        @media screen and (max-width: 750px) {
          grid-template-columns: 1fr;
        }
        @media screen and (min-width: 750px) and (max-width: 900px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 750px) and (max-width: 1000px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 1000px) and (max-width: 1400px) {
          grid-template-columns: repeat(3, 1fr);
        }

        div.video-block {
          box-sizing: border-box;
          position: relative;
          padding: 5px;
          width: 100%;
          height: 100%;
          margin: 5px;

          a {
            position: relative;

            img.thumbnail {
              width: 100%;
              height: 280px;
              border-radius: 10px;
              overflow: hidden;
              -webkit-box-shadow: 2px 2px 15px -8px rgba(0,0,0,0.75);
              -moz-box-shadow: 2px 2px 15px -8px rgba(0,0,0,0.75);
              box-shadow: 2px 2px 15px -8px rgba(0,0,0,0.75);
            }

            span.duration {
              position: absolute;
              background: #00000091;
              border-radius: 5px;
              padding: 2px 5px;
              color: #fff;
              bottom: 25px;
              right: 25px
            }

            span.title {
              overflow: hidden;
              height: 30px;
              box-sizing: border-box;
              display: block;
              padding: 0 10px;
              font-size: 24px;
              overflow: hidden;
            }
          }


          div.info {
            display: flex;
            flex-flow: row nowrap;
            font-size: 15px;
            color: #3f3f3f;

            span.author {
              box-sizing: border-box;
              padding: 0 10px;
            }

            span.upload-date {
              justify-self: flex-end;
              flex-grow: 1;
              text-align: right;
            }
          }
        }

      }

      div.wrapperUpload {

        div.row {
          height: 80px;
          width: 360px;
          
          &:nth-of-type(1) {
            height: 40px;
            width: inherit;
          }

          textarea {
            padding: 5px 10px;
            resize: none;
            height: inherit;
            width: 360px;
            box-sizing: border-box;
            font-size: 14px;
          }

          input {
            height: 35px;
            width: 360px;
            padding: 5px 10px;
            box-sizing: border-box;
          }
        }
        
        div.imageDrop {
          height: 200px;
          width: 360px;
          border-radius: 2px;
          border: 1px solid #222;

          span.thumbnailDropdown {
            width: 100%;
            height: 100%;
            font-size: 80px;
            line-height: 200px;
            text-align: center;
            display: block;
            background: #DDD;

            &.uploaded::after {
              content: 'uploaded';
              font-size: 24px;
              line-height: 60px;
              text-transform: uppercase;
              position: relative;
              top: -20px;
              font-family: sans-serif;
            }
          }
        }
      }

      div.profileCustomizationWrapper {
        width: 480px;

        h3 {
          text-align: center;
          font-size: 40px;
        }

        & > div.profileInfo {

          div.imageRow {
            text-align: center;
            margin-bottom: 25px;
            position: relative;
            
            img.avatarImg {
              height: 120px;
              width: 120px;
              background: white;
              border-radius: 2px;
              border: #333 1px solid;
              -webkit-box-shadow: 0px 4px 6px 0px rgba(50, 50, 50, 0.73);
              -moz-box-shadow:    0px 4px 6px 0px rgba(50, 50, 50, 0.73);
              box-shadow:         0px 4px 6px 0px rgba(50, 50, 50, 0.73);

            }
            span {
              display: block;
              width: 100%;
              text-align: center;

              .noselect();
            }

          }

          div.row {
            box-sizing: border-box;
            display: flex;
            flex-flow: row nowrap;
            padding: 10px 25px;
            
            &.hidden {
              display: none;
            }
  
            & > label {
              width: 120px;
              font-size: 16px;
              line-height: 35px;
              text-align: right;
              padding-right: 15px;
            }
            
            input {
              height: 35px;
              padding: 5px 10px;
              box-sizing: border-box;
              min-width: 180px;
              font-size: 14px;
            }
            
            span.icon {
              display: inline-block;
              line-height: 35px;
              font-size: 30px;
              padding-left: 10px;
              cursor: pointer;
              color: #555555;
              
              &:hover {
                color: #222;
              }
            }
            
          }

          div.errorRow {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            
            div.errorElement {
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              .noselect();

              &.warn {
                color: #a19f0b;
              }
              &.info {
                color: #04598a;
              }
              &.err {
                color: #9e0909;
              }

              span {
                font-size: 15px;
                color: inherit;
                display: inline-block;
              }
              
              span.icon {
                font-size: 24px;
                color: inherit;
                cursor: initial;
                padding-right: 15px;
              }
            }
          }
          
          div.buttonsBlock {
            display: flex;
            justify-content: center;
            margin-top: 25px;

            button[type='submit'] {
              padding: 5px 20px;
              font-size: 18px;
              border-radius: 4px;
              border: none;
              background: @color-accent-darker;
              color: white;
              cursor: pointer;

              &:disabled {
                cursor: not-allowed;
                background: #b4b4b4;
              }
            }
          }

        }

      }

    }
  
    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      background : @color-footer;

      .noselect();

      span {
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}