@import "init.less";

span.icon {
  font-family: 'FA';

  &.play::before {
    content: '\f144';
  }
  
  &.pause::before {
    content: '\f28b';
  }

  &.home::before {
    content: '\f015';
  }
  
  &.more::before {
    content: '\f13a';
  }

  &.search::before {
    content: '\f002';
  }

  &.menu::before {
    content: '\f0c9';
  }

  &.upload::before {
    content: '\f0ee';
  }

  &.profile:before {
    content: '\f007'
  }

  &.logout:before {
    content: '\f08b';
  }

  &.edit-profile::before {
    content: '\f02a';
  }
}