@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: 'Indie Flower';
  src: url("fonts/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: 'FA';
  src: url("font-awesome-4.7.0/fonts/FontAwesome.otf");
}
* {
  color: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  outline: none;
  color: #171219;
  -webkit-font-smoothing: antialiased;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.breakRow {
  flex-basis: 100%;
  height: 0;
}
.hidden {
  display: none;
  opacity: 0;
}
.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 60px;
}
.logo span {
  display: flex;
  font-family: 'Indie Flower', sans-serif;
  font-size: inherit;
  color: #333;
  justify-content: center;
  align-items: center;
}
.logo span i {
  position: relative;
  top: -0.1em;
  display: inline-flex;
  height: 1em;
  line-height: 1.2em;
  font-style: inherit;
  font-family: inherit;
  background: #df580a;
  color: #EEE;
  border-radius: 0.2em;
  box-sizing: border-box;
  padding: 0 0.1em 0 0.1em;
  margin-left: 0.1em;
}
