@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: 'Indie Flower';
  src: url("fonts/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: 'FA';
  src: url("fonts/FontAwesome.otf");
}
* {
  color: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Lato, sans-serif;
  outline: none;
  color: #1f1f1f;
  -webkit-font-smoothing: antialiased;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 60px;
}
.logo span {
  display: flex;
  font-family: 'Indie Flower', sans-serif;
  font-size: inherit;
  color: #333;
  justify-content: center;
  align-items: center;
}
.logo span i {
  position: relative;
  top: -0.1em;
  display: inline-flex;
  height: 1em;
  line-height: 1.2em;
  font-style: inherit;
  font-family: inherit;
  background: #ce5a17;
  color: #EEE;
  border-radius: 0.2em;
  box-sizing: border-box;
  padding: 0 0.1em 0 0.1em;
  margin-left: 0.1em;
}
body {
  display: grid;
  grid-template-rows: 120px auto 40px;
  min-height: 100vh;
  background: url("pattern/login-pattern.jpg") repeat;
}
header {
  display: flex;
  justify-content: center;
}
header div.logo {
  box-sizing: border-box;
  padding: 15px;
  font-size: 80px;
}
header div.logo > span {
  color: #fff;
}
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}
main .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 400px;
  border-radius: 4px;
  background: rgba(17, 17, 17, 0.65);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
}
main .container > span {
  display: block;
  width: 100%;
  font-size: 40px;
  color: #DDD;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
}
main .container .errorBlock {
  padding-left: 50px;
  box-sizing: border-box;
  width: inherit;
  display: block;
  text-align: left;
}
main .container .errorBlock span.alert {
  color: #f1fc92;
}
main .container .errorBlock span.alert i {
  margin-right: 5px;
  color: #f1fc92;
}
main .container .errorBlock span.success {
  color: #82f087;
}
main .container .errorBlock span.success i {
  margin-right: 5px;
  color: #82f087;
}
main .container .errorBlock span.error {
  color: #e98b8b;
}
main .container .errorBlock span.error i {
  margin-right: 5px;
  color: #e98b8b;
}
main .container input.inputField {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s;
}
main .container input.inputField.error {
  box-sizing: border-box;
  background: #ffecec;
  box-shadow: 0 0 0 3pt #ac0d0dc0;
}
main .container input.inputField.missing {
  box-sizing: border-box;
  background: #ffffec;
  box-shadow: 0 0 0 3pt #cedb0fc0;
}
main .container .row {
  width: 300px;
  height: 50px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
main .container .row button {
  width: 145px;
  height: 50px;
  box-sizing: border-box;
  font-size: 22px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  transition: linear 0.2s;
}
main .container .row .regButton {
  background: #3c3941;
  color: #DDD;
}
main .container .row .regButton:hover {
  background: #584b61;
}
main .container .row .loginButton {
  background: #a70808;
  color: #DDD;
}
main .container .row .loginButton:hover {
  background: #b90a0a;
}
main .container .row .centerButton {
  width: 100%;
  height: 60px;
}
main .container .tooltip {
  color: #DDD;
  height: 20px;
  margin-top: 60px;
  margin-bottom: 5px;
  text-align: center;
}
main .container .tooltip span {
  color: inherit;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
main .container .tooltip b {
  color: #b90a0a;
  cursor: pointer;
}
main .container .tooltip b:hover {
  color: #a70808;
}
main .container .rowSmaller {
  margin: 20px 0 5px 0;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
}
main .container .rowSmaller > span {
  color: #DDD;
}
main .container .rowSmaller > span b {
  color: #b90a0a;
  cursor: pointer;
}
main .container .rowSmaller > span b:hover {
  color: #a70808;
}
main .container .rowSmaller > input[type="checkbox"] {
  margin-right: 5px;
  border-radius: 2px;
}
footer {
  width: 100%;
  height: 40px;
  background: #111111;
  bottom: 0;
  z-index: 0;
}
footer .footerGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
footer .footerGrid .middle {
  display: flex;
  justify-content: center;
  line-height: 40px;
  color: #DDD;
}
footer .footerGrid .middle > span {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #EEE;
}
footer .footerGrid .right {
  display: flex;
}
