@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: 'Indie Flower';
  src: url("fonts/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: 'FA';
  src: url("font-awesome-4.7.0/fonts/FontAwesome.otf");
}
* {
  color: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Lato, sans-serif;
  outline: none;
  color: #1f1f1f;
  -webkit-font-smoothing: antialiased;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 60px;
}
.logo span {
  display: flex;
  font-family: 'Indie Flower', sans-serif;
  font-size: inherit;
  color: #333;
  justify-content: center;
  align-items: center;
}
.logo span i {
  position: relative;
  top: -0.1em;
  display: inline-flex;
  height: 1em;
  line-height: 1.2em;
  font-style: inherit;
  font-family: inherit;
  background: #ce5a17;
  color: #EEE;
  border-radius: 0.2em;
  box-sizing: border-box;
  padding: 0 0.1em 0 0.1em;
  margin-left: 0.1em;
}
body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background: #C6C7C4;
}
body div.errorBlock {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #0000008e;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
}
body div.errorBlock div.errorMsg {
  display: flex;
  flex-flow: column nowrap;
  background: #C6C7C4;
  width: 250px;
  min-height: 150px;
  border-radius: 5px;
}
body div.errorBlock div.errorMsg span.title {
  display: block;
  padding: 5px 15px;
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #111;
  background: #A2999E;
  text-align: center;
  font-size: 20px;
}
body div.errorBlock div.errorMsg span.desc {
  display: block;
  padding: 5px 15px;
  width: 100%;
  box-sizing: border-box;
}
body div.errorBlock div.errorMsg button {
  width: 50px;
  height: 30px;
  margin: auto 100px;
  align-self: flex-end;
  justify-self: flex-end;
  cursor: pointer;
}
body .mainGrid {
  display: grid;
  height: 100vh;
  grid-template-rows: 50px auto 30px;
  grid-template-columns: 245px auto;
}
body .mainGrid header {
  grid-column: 1/3;
  height: 50px;
  display: grid;
  grid-template-columns: 50px 200px auto auto;
  background: #A2999E;
  z-index: 50;
}
body .mainGrid header > div,
body .mainGrid header span {
  height: inherit;
}
body .mainGrid header span.submenu-button-header {
  display: flex;
  margin-left: 2px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
body .mainGrid header span.submenu-button-header:hover {
  color: #EEF0F2;
  background: #353B3C;
}
body .mainGrid header nav {
  height: 50px;
}
body .mainGrid header nav ul {
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style-type: none;
}
body .mainGrid header nav ul li {
  width: 50px;
  margin: 0 2.5px;
  display: flex;
  justify-content: stretch;
}
body .mainGrid header nav ul li a {
  box-sizing: border-box;
  width: inherit;
  font-size: 40px;
  text-align: center;
  transition: 0.3s;
}
body .mainGrid header nav ul li a:hover,
body .mainGrid header nav ul li a.active {
  background: #353B3C;
}
body .mainGrid header nav ul li a:hover i,
body .mainGrid header nav ul li a.active i {
  color: #EEF0F2;
}
body .mainGrid header .logo {
  box-sizing: border-box;
  font-size: 40px;
  padding-top: 5px;
}
body .mainGrid .flexContainer {
  grid-column: 1/3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
body .mainGrid .flexContainer .submenuContainer {
  position: relative;
  min-width: 0;
  width: 0;
  background: #fff;
  transition: 0.5s;
}
body .mainGrid .flexContainer .submenuContainer aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  width: inherit;
  height: 100vh;
  z-index: 99;
  overflow: hidden;
  box-shadow: -2px 0px 18px 7px #a8a8a8;
  display: grid;
  grid-template-rows: 50px auto 30px;
}
body .mainGrid .flexContainer .submenuContainer aside .top {
  display: grid;
  grid-template-columns: 50px auto;
  height: 50px;
  background: #846A6A;
}
body .mainGrid .flexContainer .submenuContainer aside .top span.submenu-button-submenu {
  display: flex;
  box-sizing: border-box;
  margin-left: 2px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  padding-bottom: 3px;
  color: #EEF0F2;
  height: inherit;
}
body .mainGrid .flexContainer .submenuContainer aside .top span.submenu-button-submenu:hover {
  color: #ce1313;
}
body .mainGrid .flexContainer .submenuContainer aside .top .logo {
  box-sizing: border-box;
  height: inherit;
  display: flex;
  justify-content: stretch;
  font-size: 40px;
  padding-top: 3px;
}
body .mainGrid .flexContainer .submenuContainer aside .top .logo span {
  color: #fff;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  width: 245px;
  flex-flow: column nowrap;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .profileIcon {
  width: 163.33333333px;
  height: 163.33333333px;
  background: red;
  border-radius: 15px;
  overflow: hidden;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .profileIcon img {
  height: inherit;
  width: 100%;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .text {
  display: flex;
  justify-content: flex-start;
  width: inherit;
  box-sizing: border-box;
  flex-flow: column nowrap;
  padding: 0 40px;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .text span.title {
  font-size: 24px;
  font-weight: bold;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .text span.username {
  font-size: 18px;
  color: #353B3C;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .userPanel {
  margin-top: 20px;
  width: 100%;
  min-height: 120px;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .userPanel ul {
  width: 100%;
  min-height: 120px;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .userPanel ul li {
  width: 100%;
  height: 50px;
  margin: 5px 0;
  vertical-align: middle;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .userPanel ul li a {
  box-sizing: border-box;
  padding: 5px 10px;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 20px;
  color: #353B3C;
  transition: 0.3s;
  text-transform: uppercase;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .userPanel ul li a i {
  color: #353B3C;
  font-size: 25px;
  line-height: 40px;
  padding: 0 5px;
  transition: 0.3s;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .userPanel ul li a:hover,
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .userPanel ul li a.active {
  background: #353B3C;
  color: #EEF0F2;
}
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .userPanel ul li a:hover i,
body .mainGrid .flexContainer .submenuContainer aside .profileContainer .userPanel ul li a.active i {
  color: #EEF0F2;
}
body .mainGrid .flexContainer .submenuContainer aside .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainGrid .flexContainer .submenuContainer aside .bottom a {
  box-sizing: border-box;
  display: block;
  padding: 1.5px 5px;
  border-radius: 5px;
  padding-bottom: 2px;
  color: #EEF0F2;
  background: #353B3C;
  transition: 0.3s;
}
body .mainGrid .flexContainer .submenuContainer aside .bottom a i {
  color: #EEF0F2;
  transition: 0.3s;
}
body .mainGrid .flexContainer .submenuContainer aside .bottom a:hover {
  background: #846A6A;
  color: #353B3C;
}
body .mainGrid .flexContainer .submenuContainer aside .bottom a:hover i {
  color: #353B3C;
}
body .mainGrid .flexContainer .content {
  flex: 1 1 auto;
  box-sizing: border-box;
  padding: 15px;
}
body .mainGrid .flexContainer .content main {
  width: 100%;
  height: 100%;
}
body .mainGrid .flexContainer .content main div.videosGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-gap: 10px;
}
body .mainGrid .flexContainer .content main div.videosGrid .video-block a .thumbnail {
  position: relative;
}
body .mainGrid .flexContainer .content main div.videosGrid .video-block a .thumbnail span {
  position: absolute;
  padding: 1px 5px;
  border-radius: 2.5px;
  background: rgba(0, 0, 0, 0.616);
  right: 15px;
  bottom: 15px;
  color: #fff;
}
body .mainGrid .flexContainer .content main div.videosGrid .video-block a .thumbnail img {
  height: 240px;
  width: 100%;
}
body .mainGrid .flexContainer .content main div.videosGrid div.desc a.title {
  display: block;
  margin: 0 30px;
  font-size: 24px;
  text-align: left;
  color: #2b2b2b;
}
body .mainGrid .flexContainer .content main div.videosGrid div.desc a.author {
  margin: 0 0 0 30px;
  color: #666;
  font-size: 14px;
}
body .mainGrid .flexContainer .content main div.videosGrid div.desc span.viewCount {
  color: #666;
  font-size: 14px;
}
body .mainGrid .flexContainer .content main div.uploadBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainGrid .flexContainer .content main div.uploadBlock .uploader {
  box-sizing: border-box;
  width: 480px;
  height: 320px;
  padding: 25px 40px;
}
body .mainGrid .flexContainer .content main div.uploadBlock .uploader span {
  display: block;
  text-align: center;
  color: #353B3C;
  font-size: 50px;
}
body .mainGrid .flexContainer .content main div.uploadBlock .uploader i {
  display: block;
  text-align: center;
  font-size: 80px;
  color: #353B3C;
}
body .mainGrid .flexContainer .content main div.videoWrapper {
  display: flex;
  justify-content: center;
}
body .mainGrid .flexContainer .content main div.videoWrapper div.videoContainer {
  width: 80%;
  max-width: 800px;
  position: relative;
  overflow: hidden;
}
body .mainGrid .flexContainer .content main div.videoWrapper div.videoContainer:hover .bar {
  transform: translateY(0);
}
body .mainGrid .flexContainer .content main div.videoWrapper div.videoContainer video {
  width: 100%;
}
body .mainGrid .flexContainer .content main div.videoWrapper div.videoContainer div.bar {
  position: absolute;
  bottom: 15px;
  left: 20px;
  right: 20px;
  padding: 5px;
  border-radius: 5px;
  background: #00000086;
  display: grid;
  grid-template-rows: 45px 5px;
  transform: translateY(150%);
  transition: 0.5s;
}
body .mainGrid .flexContainer .content main div.videoWrapper div.videoContainer div.bar div.controls {
  display: flex;
  flex-flow: wrap;
}
body .mainGrid .flexContainer .content main div.videoWrapper div.videoContainer div.bar div.controls .buttons button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: inline-block;
  font-size: 35px;
  color: white;
}
body .mainGrid .flexContainer .content main div.videoWrapper div.videoContainer div.bar div.controls .buttons button.play::before {
  font-family: 'FA';
  content: '\f144';
}
body .mainGrid .flexContainer .content main div.videoWrapper div.videoContainer div.bar div.controls .buttons button.pause::before {
  font-family: 'FA';
  content: '\f28b';
}
body .mainGrid .flexContainer .content main div.videoWrapper div.videoContainer div.bar div.progressBar {
  height: 5px;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
}
body .mainGrid .flexContainer .content main div.videoWrapper div.videoContainer div.bar div.progressBar div.progress {
  height: 100%;
  width: 100px;
  background: red;
}
body .mainGrid footer {
  background: #e6e6e6;
  grid-column: 1/3;
  grid-row: 3/4;
  z-index: 5;
  box-shadow: 0px -2px 18px 7px #a8a8a8;
  z-index: 50;
}
body .mainGrid footer .footerGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
body .mainGrid footer .footerGrid .middle {
  display: flex;
  justify-content: center;
}
body .mainGrid footer .footerGrid .middle > span {
  text-transform: uppercase;
  letter-spacing: 1px;
}
